extends ../base 

block content   
    span=errorMessage
    form(method="post")
        input(placeholder="Old password", name ="oldPassword", type="password", required)
        input(placeholder="New password", name ="newPassword", type="password", required)
        input(placeholder="New password confirmation", name ="newPassword2", type="password", required)
        input(type="submit" value="Change Password")
    